<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>All Inclusive Vacation</title>
</head>
<body>
	<!--- loading animation -->
	<!-- <div class="loading">
		<div class="ball"></div>
		<div class="ball1"></div>
	</div> -->
	<!--- //loading animation -->
	
	<!--header-->
	<header class="header inside-header">
		<div class="wrap">
			<!--logo-->
			<div class="logo inside-logo"><a href="index.html" title=""><img src="images/txt/logo.png" alt="Book Your Travel" /></a></div>
			<!--//logo-->
			
			<!--ribbon-->
			<div class="header-nav-buts inside_top-nav">
				<nav>
					<a href="my_account.html" title="My Account">My Account</a>
					<a href="#0" title="Login" id="btnlogin">Login</a>
					<a href="my_account.html" title="Settings">Settings</a>
					</ul>
				</nav>
			</div>
			<!--//ribbon-->
		</div>
	</header>
	<!--//header-->
	
	<!--main-->
	<main class="main">		
		<div class="wrap">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<!--crumbs-->
				<ul>
					<li>Booking Step 1</li>                                       
				</ul>
				<!--//crumbs-->
				
				<!--top right navigation-->
				<ul class="top-right-nav">
					<li><a href="#" title="Back to results">Back to results</a></li>
					<li><a href="#" title="Change search">Change search</a></li>
				</ul>
				<!--//top right navigation-->
			</nav>
			<!--//breadcrumbs-->
            <!-- progress step -->
			<div class="process-steps">
                <ul class="book-step-intigator">
                    <li class="active-intigator">
                        <a href="search_results_flights.html"><b><i class="fa fa-plane" aria-hidden="true"></i></b></a>
                        <p>Book Your Flight</p>
                    </li>
                    <li class="active-intigator">
                        <a href="search_results-hotel.html"><b><i class="fa fa-bed" aria-hidden="true"></i></b></a>
                        <p>Choose Your Hotel</p>
                    </li>
                    <li class="active-intigator">
                        <a href="add_extras.html"><b><i class="fa fa-bus" aria-hidden="true"></i></b></a>
                        <p>Choose Your Extras</p>
                    </li>
                    <li class="active-intigator">
                        <a href="booking-step1.html"><b><i class="fa fa-ticket" aria-hidden="true"></i></b></a>
                        <p>Complete Your Booking</p>
                    </li>
                </ul>
            </div>
            <!-- progress step end -->
			<div class="row">
				<!--three-fourth content-->
				<div class="three-fourth">
					<div ng-show="bookStep==1" class="book-trainer one">
						<form ng-submit="isValidStep1() && gotoStep(2)" class="static-content booking">
							<fieldset>
								<h2><span>01 </span>Enter Your Details </h2>
								<div class="row">
										<div class="f-item one-half">
											<label for="first_name">First name</label>
											<input type="text" id="first_name" ng-model="Booking1.first_name" />
											<div class="text-danger" ng-if="errors.first_name">
			                                	{{errors.first_name}}
			                              	</div>
										</div>
										<div class="f-item one-half">
											<label for="last_name">Last name</label>
											<input type="text" id="last_name" ng-model="Booking1.last_name" />
											<div class="text-danger" ng-if="errors.last_name">
			                                	{{errors.last_name}}
			                              	</div>
										</div>
									</div>
									
									<div class="row">
										<div class="f-item one-half">
											<label for="email">Email address</label>
											<input type="email" id="email" ng-model="Booking1.email" />
											<div class="text-danger" ng-if="errors.email">
			                                	{{errors.email}}
			                              	</div>
										</div>
										<div class="f-item one-half">
											<label for="passport">Passport No</label>
											<input type="text" id="passport" ng-model="Booking1.passport" />
											<div class="text-danger" ng-if="errors.passport">
			                                	{{errors.passport}}
			                              	</div>
										</div>
										<span class="info">You’ll receive a confirmation email</span>
									</div>
									
									<div class="row">
										<div class="f-item one-half">
											<label for="address">Street Address an Number</label>
											<input type="text" id="address" ng-model="Booking1.address" />
											<div class="text-danger" ng-if="errors.address">
			                                	{{errors.address}}
			                              	</div>
										</div>
										<div class="f-item one-half">
											<label for="city">Town / City</label>
											<input type="text" id="city" ng-model="Booking1.city" />
											<div class="text-danger" ng-if="errors.city">
			                                	{{errors.city}}
			                              	</div>
										</div>
									</div>
									
									<div class="row">
										<div class="f-item one-half">
											<label for="zip">ZIP Code</label>
											<input type="text" id="zip" ng-model="Booking1.zip" />
											<div class="text-danger" ng-if="errors.zip">
			                                	{{errors.zip}}
			                              	</div>
										</div>
										<div class="f-item one-half">
											<label for="country">Country</label>
											<input type="text" id="country" ng-model="Booking1.country" />
											<div class="text-danger" ng-if="errors.country">
			                                	{{errors.country}}
			                              	</div>
										</div>
									</div>					
								<div class="row">
									<div class="f-item full-width">
										<input type="submit" class="gradient-button tap-one" value="Proceed to next step" id="next-step" />
									</div>
								</div>
							</fieldset>
						</form>
					</div>
					<div ng-show="bookStep==2" class="book-trainer two">
						<form ng-submit="isValidStep2() && gotoStep(3)" class="static-content booking">
							<fieldset>
									<h2><span>02 </span>Payment</h2>
									<div class="row">
										<div class="f-item one-half">
											<label>Card type</label>
											<select ng-model="Step2.card">
												<option value="">Select card type</option>
												<option>Mastercard</option>
												<option>Visa</option>
												<option>American Express</option>
											</select>
											<div class="text-danger" ng-if="errors.card">
			                                	{{errors.card}}
			                              	</div>
										</div>
										<div class="f-item one-half">
											<label for="card_number">Card number</label>
											<input type="number" id="card_number" ng-model="Step2.card_number" />
											<div class="text-danger" ng-if="errors.card_number">
			                                	{{errors.card_number}}
			                              	</div>
										</div>
									</div>
									
									<div class="row">
										<div class="f-item one-third">
											<label for="card_holder">Name on card</label>
											<input type="text" id="card_holder" ng-model="Step2.card_holder" />
											<div class="text-danger" ng-if="errors.card_holder">
			                                	{{errors.card_holder}}
			                              	</div>
										</div>
										<div class="f-item one-third datepicker">
											<label for="expiration_date">Expiration Date </label>
											<div class="datepicker-wrap"><input type="text" id="expiration_date" ng-model="Step2.expiration_date" /></div>
											<div class="text-danger" ng-if="errors.expiration_date">
			                                	{{errors.expiration_date}}
			                              	</div>
										</div>
										<div class="f-item one-third">
											<label for="cv2_number">CV2 Number</label>
											<input type="number" id="cv2_number" ng-model="Step2.cv2_number" />
											<div class="text-danger" ng-if="errors.cv2_number">
			                                	{{errors.cv2_number}}
			                              	</div>
										</div>
									</div>

									<div class="row">
										<div class="f-item full-width checkbox">
											<div style="width: 20px;height: 20px;float: left;margin-right: 20px;">
												<input ng-model="Step2.agreement" type="checkbox" name="check" id="check" value="ch1">
											</div>
											<label>Yes, I have read and I agree to the <a href="#">booking conditions</a>.</label>
											<div class="text-danger" ng-if="errors.agreement">
			                                	{{errors.agreement}}
			                              	</div>
										</div>
									</div>
									
									<div class="row">
										<div class="full-width">
											<input ng-click="gotoStep(1)" type="button" class="gradient-button tap-backtwo" value="Back" id="next-step" />
											<input type="submit" class="gradient-button tap-two" value="Submit booking" id="next-step" />
										</div>
									</div>
							</fieldset>
						</form>
					</div>
					<div ng-show="bookStep==3" class="book-trainer three">
						<form id="booking" method="post" action="booking-step2.html" class="static-content booking">
							<fieldset>
								<h2><span>03 </span>Confirmation</h2>
								<div class="text-wrap">
								
													<a ng-click="printBooking()" href="javascript:void(0);" class="gradient-button right print" title="Print booking">Print booking</a>
													<a ng-click="gotoStep(2)" href="javascript:void(0);" class="gradient-button right print tap-backthree" title="Back">Back</a>
									<p>Thank you. Your booking is now confirmed.</p>
								</div>
								
								<h3>Traveller info</h3>
								<div class="text-wrap">
									<div class="output">
										<p>Booking number:</p>
										<p>904054553</p>
										<p>Fist name: </p>
										<p>Dhana Veeran</p>
										<p>Last name: </p>
										<p>G</p>
										<p>E-mail address: </p>
										<p>dhanaveeran44@gmail.com</p>
										<p>Street Address and number:</p>
										<p>Some street name 55</p>
										<p>Town / City: </p>
										<p>Chennai</p>
										<p>ZIP code: </p>
										<p>600024</p>
										<p>Country:</p>
										<p>India</p>
									</div>
								</div>
							
								<h3>Special requirements</h3>
								<div class="text-wrap">
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
								</div>
								
								<h3>Payment</h3>
								<div class="text-wrap">
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
									<p><strong class="dark">This hotel accepts the following forms of payment:</strong></p>
									<p>Visa, MasterCard</p>
								</div>
								
								<h3>Don’t forget</h3>
								<div class="text-wrap">
									<p>You can change or cancel your booking via our online self service tool myBookYourTravel:
									<a href="#">Click Here</a></p>
									<p><strong>We wish you a pleasant stay</strong><i>your BookYourTravel team</i></p>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
				<!--//three-fourth content-->
				
				<!--right sidebar-->
				<aside class="one-fourth right-sidebar">
					<!--Booking details-->
					<article class="widget">
							<h4>Other Services </h4>
								<figure><a href="hotel.html" title=""><img src="images/uploads/hotel1.jpg" alt=""></a></figure>
								<div class="details">
									<h3>Spa
										<span class="stars">
											<i class="material-icons"></i>
											<i class="material-icons"></i>
											<i class="material-icons"></i>
											<i class="material-icons"></i>
										</span>
									</h3>
									<span class="address">London  •  <a href="#">Show on map</a></span>
									<span class="rating"> 8 /10</span>
									<span class="price">Price per person from  <em>$ 500</em> </span>
									<div class="description">
										<p>4 Nights, Self Catering from London Southend with EasyJet Airlineson 25th January 2016 <a href="hotel.html">More info</a></p>
									</div>
									<!-- <a href="hotel.html" title="Book now" class="gradient-button">Book now</a> -->
								</div>
								<div class="details">
									<h3>Gym
										<span class="stars">
											<i class="material-icons"></i>
											<i class="material-icons"></i>
											<i class="material-icons"></i>
											<i class="material-icons"></i>
										</span>
									</h3>
									<!-- <span class="address">London  •  <a href="#">Show on map</a></span> -->
									<!-- <span class="rating"> 8 /10</span> -->
									<span class="price">Price per person from  <em>$ 500</em> </span>
									<div class="description">
										<p>4 Nights, Self Catering from London Southend with EasyJet Airlineson 25th January 2016 <a href="hotel.html">More info</a></p>
									</div>
									<!-- <a href="hotel.html" title="Book now" class="gradient-button">Book now</a> -->
								</div>
							
							</article>
					
				</aside>
				<!--//right sidebar-->
			</div>
			<!--//main content-->
		</div>
	</main>
	<!--//main-->
    <div class="lightbox" id="login">
		<div class="lb-wrap">
			<a href="#" class="close">x</a>
			<div class="lb-content">
				<form class="row">
					<h3>Log in</h3>
					<div class="f-item full-width">
						<label for="email">E-mail address</label>
						<input type="email" id="email" name="email" />
					</div>
					<div class="f-item full-width">
						<label for="password">Password</label>
						<input type="password" id="password" name="password" />
					</div>
					<div class="f-item checkbox full-width">
						<input type="checkbox" id="remember_me" name="checkbox" />
						<label for="remember_me">Remember me next time</label>
					</div>
					<div class="f-item full-width">
						<p><a href="#" title="Forgot password?">Forgot password?</a><br />
						Dont have an account yet? <a href="#0" title="Sign up" id="btnregister">Sign up.</a></p>
						<input type="submit" id="login" name="login" value="login" class="gradient-button" />
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- register -->
    <div class="lightbox" id="register">
		<div class="lb-wrap">
			<a href="#" class="close">x</a>
			<div class="lb-content">
				<form class="row">
					<h3>Register</h3>
					<div class="f-item full-width">
						<label for="f_name">Name and surname</label>
						<input type="text" id="ns_name" name="ns_name" />
					</div>
					<div class="f-item full-width">
						<label for="email">E-mail address</label>
						<input type="email" id="email" name="email" />
					</div>
					<div class="f-item full-width">
						<label for="password">Password</label>
						<input type="password" id="password" name="password" />
					</div>
					<div class="f-item checkbox full-width">
						<input type="checkbox" id="newsletter_s" name="newsletter" />
						<label for="newsletter_s">Tell me about inspiring travel news, and exclusive discounts!</label>
					</div>
					<div class="f-item checkbox full-width">
						<p>By clicking "Create Account" you confirm that you accept the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>. </p>
						<input type="submit" id="register" name="register" value="Create Account" class="gradient-button" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>