	<!--header-->
	<header class="header inside-header">
		<div class="wrap">
			<!--logo-->
			<div class="logo inside-logo"><a href="index.html" title=""><img src="assets/images/txt/logo.png" alt="Book Your Travel" /></a></div>
			<!--//logo-->
			
			<!--ribbon-->
			<div class="header-nav-buts inside_top-nav">
				<nav>
					<a href="my_account.html" title="My Account">My Account</a>
					<a href="#0" title="Login" id="btnlogin">Login</a>
					<a href="my_account.html" title="Settings">Settings</a>
					</ul>
				</nav>
			</div>
			<!--//ribbon-->
		</div>
	</header>
	<!--//header-->
	<!--main-->
	<main class="main">		
		<div class="wrap">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<!--crumbs-->
				<ul> 
					<li>Search results</li>                                       
				</ul>
				<!--//crumbs-->
				
				<!--top right navigation-->
				<ul class="top-right-nav">
					<li><a href="#/" title="Back to results">Back to results</a></li>
					<li><a href="javascript:void(0);" ng-click="changeSearch()" title="Change search">Change search</a></li>
				</ul>
				<!--//top right navigation-->
			</nav>
			<!--//breadcrumbs-->
            <!-- progress step -->
			<div class="process-steps">
                <ul class="book-step-intigator">
                    <li class="active-intigator"  ng-if="isHotelFlight">
                        <a href="search_results_flights.html"><b><i class="fa fa-plane" aria-hidden="true"></i></b></a>
                        <p>Book Your Flight</p>
                    </li>
                    <li class="active-intigator" style="{{twotab}}">
                        <a href="search_results-hotel.html"><b><i class="fa fa-bed" aria-hidden="true"></i></b></a>
                        <p>Choose Your Hotel</p>
                    </li>
                    <li style="{{twotab1}}">
                        <a href="add_extras.html"><b><i class="fa fa-bus" aria-hidden="true"></i></b></a>
                        <p>Choose Your Extras</p>
                    </li>
                    <li>
                        <a href="booking-step1.html"><b><i class="fa fa-ticket" aria-hidden="true"></i></b></a>
                        <p>Complete Your Booking</p>
                    </li>
                </ul>
            </div>
            <!-- progress step end -->
			
			<div class="row">
				<!--sidebar-->
				<aside class="one-fourth left-sidebar">
					<article class="widget refine-search-results">
						<h4>Refine search results</h4>
						<dl>
							<!--Price (per night)-->
							<dt>Price (per night)</dt>
							<dd>
								<div class="checkbox">
									<input type="checkbox" data-ng-model='amounts.z0z49'  id="ch1" name="price" />
									<label for="ch1">0 - 49 &euro;</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" data-ng-model='amounts.z50z99' id="ch2" name="price" />
									<label for="ch2">50 - 99 &euro;</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" data-ng-model='amounts.z100z149' id="ch3" name="price" />
									<label for="ch3">100 -149 &euro;</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" data-ng-model='amounts.z150z199' id="ch4" name="price" />
									<label for="ch4">150 - 199 &euro;</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" data-ng-model='amounts.z0z100000' id="ch5" name="price" />
									<label for="ch5">200 &euro; +</label>
								</div>
							</dd>
							<!--//Price (per night)-->
							
							<!--Accommodation type-->
							<dt>Accommodation type</dt>
							<dd>
								<div class="checkbox">
									<input type="checkbox" id="ch6" name="accommodation" />
									<label for="ch6">Hotel</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch7" name="accommodation" />
									<label for="ch7">Hostel</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch8" name="accommodation" />
									<label for="ch8">Apart Hotel</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch9" name="accommodation" />
									<label for="ch9">Guest House</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch30" name="accommodation" />
									<label for="ch30">Apartment</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch31" name="accommodation" />
									<label for="ch31">Bed &amp; Breakfast</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch32" name="accommodation" />
									<label for="ch32">Residence</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch33" name="accommodation" />
									<label for="ch33">Farm stay</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch34" name="accommodation" />
									<label for="ch34">All-inclusive resort</label>
								</div>
							</dd>
							<!--//Accommodation type-->
							
							<!--Star rating-->
							<dt>Star rating</dt>
							<dd>
								<span class="stars-info">3 or more</span>
								<div id="star" data-rating="3"></div>
							</dd>
							<!--//Star rating-->
							
							<!--User rating-->
							<!-- <dt>User rating</dt>
							<dd>
								<div id="slider"></div>
								<span class="min">0</span><span class="max">10</span>
							</dd> -->
							<!--//User rating-->
							
							<!--Hotel facilities-->
							<dt>Hotel facilities</dt>
							<dd>
								<div ng-repeat="fac in hotelFacilityFilterList">
								<div class="checkbox" ng-if="fac.isvisible">
									<input type="checkbox" data-ng-model='fac.IsIncluded' data-ng-checked='fac.IsIncluded' id="ch{{fac.IsIncluded}}" name="room-facilities" />
									<label for="ch{{fac.id}}">{{fac.label}}</label>
								</div>
								</div>
							</dd>
							<!--//Hotel facilities-->
							
							<!--Room facilites-->
							<dt>Room facilites</dt>
							<dd>
								<div ng-repeat="activity in roomFacilityFilterList">
								<div class="checkbox" ng-if="activity.isvisible">
									<input type="checkbox" id="ch{{activity.id}}" name="room-facilities" data-ng-model='activity.IsIncluded' data-ng-checked='activity.IsIncluded' />
									<label for="ch{{activity.id}}">{{activity.label}}</label>
								</div>																
								</div>
							</dd>
							<!--//Room facilites-->
							
							<!--Meal Board-->
							<dt>Meal Board</dt>
							<dd>
								<!-- <div class="checkbox">
									<input type="checkbox" id="ch58" name="meal" />
									<label for="ch58">No meal</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch59" name="meal" />
									<label for="ch59">Bed &amp; Breakfast</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch60" name="meal" />
									<label for="ch60">Half board</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch61" name="meal" />
									<label for="ch61">Full board</label>
								</div> -->
								<div class="checkbox">
									<input type="checkbox" id="ch62" name="meal" />
									<label for="ch62">All - inclusive</label>
								</div>
							</dd>
							<!--//Meal Board-->
							
							<!--Accessibility options-->
							<!-- <dt>Accessibility options</dt>
							<dd>
								<div class="checkbox">
									<input type="checkbox" id="ch63" name="accessibility" />
									<label for="ch63">Accessible bathroom</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch64" name="accessibility" />
									<label for="ch64">Accessible path of travel</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch65" name="accessibility" />
									<label for="ch65">Handicapped parking</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch66" name="accessibility" />
									<label for="ch66">In-room accessibility</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch67" name="accessibility" />
									<label for="ch67">Roll-in shower</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch68" name="accessibility" />
									<label for="ch68">Accessibility equipment for the deaf</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch69" name="accessibility" />
									<label for="ch69">Braille or raised signage</label>
								</div>
							</dd> -->
							<!--//Accessibility options-->
							
							<!--Hotel theme-->
							<!-- <dt>Hotel theme</dt>
							<dd>
								<div class="checkbox">
									<input type="checkbox" id="ch70" name="theme" />
									<label for="ch70">Family Fun</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch71" name="theme" />
									<label for="ch71">Adventure</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch72" name="theme" />
									<label for="ch72">Beach &amp; Sun</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch73" name="theme" />
									<label for="ch73">Casinos</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch74" name="theme" />
									<label for="ch74">History &amp; Culture</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch75" name="theme" />
									<label for="ch75">Clubbing</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch76" name="theme" />
									<label for="ch76">Romance</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch77" name="theme" />
									<label for="ch77">Shopping</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch78" name="theme" />
									<label for="ch78">Skiing</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch79" name="theme" />
									<label for="ch79">Wellness</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch80" name="theme" />
									<label for="ch80">Eco &amp; Nature</label>
								</div>
							</dd> -->
							<!--//Hotel theme-->
							
							<!--Hotel chain-->
							<!-- <dt>Hotel chain</dt>
							<dd>
								<div class="checkbox">
									<input type="checkbox" id="ch81" name="theme" />
									<label for="ch81">Accor</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch82" name="theme" />
									<label for="ch82">Hilton</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch83" name="theme" />
									<label for="ch83">Lindner</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch84" name="theme" />
									<label for="ch84">Marriott</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="ch85" name="theme" />
									<label for="ch85">Tui</label>
								</div>
							</dd> -->
							<!--//Hotel chain-->
							
							<!--Payment options-->
							<dt>Payment options</dt>
							<dd>
								<div class="checkbox">
									<input type="checkbox" id="ch86" name="theme"  data-ng-model='paymenttype.American'/>
									<label for="ch86">American Express</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" data-ng-model='paymenttype.Visa' id="ch87" name="theme" />
									<label for="ch87">Visa</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" data-ng-model='paymenttype.Mastercard' id="ch88" name="theme" />
									<label for="ch88">Euro/Mastercard</label>
								</div>
								<div class="checkbox">
									<input type="checkbox" data-ng-model='paymenttype.Diners' id="ch89" name="theme" />
									<label for="ch89">Diners Club</label>
								</div>
							</dd>
							<!--//Payment options-->
						</dl>
					</article>
				</aside>
				<!--//sidebar-->
			
				<!--three-fourth content-->
				
				<section class="one-half" style="background:#fff;" id="hotelparent">
					<!--gallery-->					
					<!--//gallery-->
					<div ng-repeat="hotal in hotalList | payfilter:paymenttype | amtfilter:amounts | starfilter:starfilter.startscore | hotelfilter:hotelFacilityFilterList:this | roomfilter:roomFacilityFilterList ">
					<h2>{{hotal[0].hoteldetails[0].Name}} <br/> <span> (Lara, Antalya, Turkey) </span></h2>
					<div class="gallery">
						<ul id="image-gallery" class="cS-hidden">
							<li data-thumb="https://mgmpackageslive.azurewebsites.net/mgmpackageslive/{{hotal[0].RoomImage}}">
								<img class="image-gallery" src="https://mgmpackageslive.azurewebsites.net/mgmpackageslive/{{hotal[0].RoomImage}}" alt="" />
							</li>
							<li data-thumb="assets/images/uploads/hotel4.jpg"> 
								<img src="assets/images/uploads/hotel4.jpg" alt="" />
							</li>
							<li data-thumb="assets/images/uploads/hotel1.jpg"> 
								<img src="images/uploads/hotel1.jpg" alt="" />
							</li>
							<li data-thumb="assets/images/uploads/hotel2.jpg"> 
								<img src="assets/images/uploads/hotel2.jpg" alt="" />
							</li>
							<li data-thumb="assets/images/uploads/hotel5.jpg"> 
								<img src="assets/images/uploads/hotel5.jpg" alt="" />
							</li>
							<li data-thumb="assets/images/uploads/hotel3.jpg"> 
								<img src="assets/images/uploads/hotel3.jpg" alt="" />
							</li>
							<li data-thumb="assets/images/uploads/hotel6.jpg"> 
								<img src="assets/images/uploads/hotel6.jpg" alt="" />
							</li>
						</ul>
					</div>
                    <!-- hot deals for you -->
                    <section class="offers_section inner">								
						<div id="" class="tab-content new-hotel">
							<article>
								<h2>Overview</h2>
								<div class="text-wrap change">
									<p> 
										{{hotal[0].LongDesc}}
									</p>
									<a id="seeMore" ng-click="toggleSeeMore($index)" href="javascript:void(0);" style="color:#B1A398;">See More</a>									
									<!-- <p>Available rooms from <span class="date">Thurs 29 Nov 2016</span> to <span class="date">Fri 30 Nov 2016</span>.</p> -->
								</div>
								<div class="hide text-wrap facility_{{$index}}">
									<div ng-if="hotal.RoomFacility.Facilities">
										Facilities : {{hotal.RoomFacility.Facilities}}
									</div>
									<div ng-if="hotal.RoomFacility.Activities">
										Activities : {{hotal[0].RoomFacility.Activities}}
									</div>
									<div ng-if="hotal.RoomFacility.Internet">
										Internet : {{hotal.RoomFacility.Internet}}
									</div>
									<div ng-if="hotal.RoomFacility.Parking">
										Parking : {{hotal.RoomFacility.Parking}}
									</div>
									<div ng-if="hotal.RoomFacility.Generalinfo">
										Generalinfo : {{hotal.RoomFacility.Generalinfo}}
									</div>
									<div ng-if="hotal.RoomFacility.ThingsTodo">
										ThingsTodo : {{hotal.RoomFacility.ThingsTodo}}
									</div>
								</div>
								<h2>Availability</h2>
								<div class="text-wrap change">
									
									<a href="javascript:void(0);" class="gradient-button right dt-filter-btn1" title="Change dates" ng-click="ShowHideDate('show');">Change dates</a>
									<div class="dt-filter" style="display: none;">
										<label for="datepicker1">Check-in</label>
			                              <div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker1" name="datepicker1" ng-modal="fromDt" /></div>
			                              <div class="text-danger" ng-if="errors.H_sFrom">
		                                    {{errors.H_sFrom}}
		                                 </div>
			                              <label for="datepicker2">Check-out</label>
			                              <div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker2" name="datepicker2" ng-modal="toDt" /></div>
			                              <div class="text-danger" ng-if="errors.H_sTo">
		                                    {{errors.H_sTo}}
		                                 </div>
										<input type="submit" value="Proceed to results" class="gradient-button search-submit" ng-click="changeSearchDate();">
										<a href="javascript:void(0); class="gradient-button right dt-filter-btn2" title="Change dates" ng-click="ShowHideDate('hide');">Hide dates</a>
									</div>									

									<p>Available rooms from <span class="date">{{dateFrom}}</span> to <span class="date">{{sTo}}</span>.
									</p>
									<p>Total Rooms Available {{hotal[0].AvailableRoom}} from <span class="date">{{dateFrom}}</span> to <span class="date">{{sTo}}</span>.
									</p>
								</div>
								<div class="text-wrap change">
								<!-- 
								 <p><input type="checkbox"> </p> -->
								<div class="some-ter">
									<h2 class="rooms"> Room types </h2>
									<div class="rights">
										<p> Hotel Price Per Person </p>
										<div class="containers" id="containere" ng-click="onContainereClick()" style="display:inline-block;">
											
											  <div class="switch" id="switch">
											  </div>
											  <div class="label left">  </div>
											  <div class="label right"> </div>
											
										</div> 
										<p> Total Hotel Price</p>
									</div>
								</div>		
									
									
								</div>
								<ul class="room-types">
								<!--room-->
								<li lightgallery ng-repeat="(key, rooms) in hotal" my-post-repeat-directive>
									<figure class="left" id="gallery{{key}}">
										<a data-fancybox="images"  href="https://mgmpackageslive.azurewebsites.net/mgmpackageslive{{rooms.RoomImage}}" data-sub-html="<p>{{rooms.Description}}</p>">
											<img class="item" src="https://mgmpackageslive.azurewebsites.net/mgmpackageslive{{rooms.RoomImage}}" alt="" />
											<span class="image-overlay"></span>
										</a>
									</figure>									
									<div class="meta full-board">
										<h3>{{rooms.Description}}</h3>
										<h5>More Info <span><a href="javascript:void(0)" title="more info" class="more-info fas"><i class="fa fa-chevron-down" aria-hidden="true"></i> </a></span></h5>
									</div>
									<div class="room-information">
										<div class="row">
											<p><strong>Bed Size(s):</strong> 1 Double </p>
										</div>
										<a ng-click="goToExtra($index)" href="javascript:void(0);" class="gradient-button price-per-person-amt" title="Book" >&euro;  {{(rooms.RoomRate/diffDays)/NoOfAdults | number : 2}}  Book Now</a>
										<a ng-click="goToExtra($index)" href="javascript:void(0);" class="gradient-button day-amt" title="Book">&euro;  {{rooms.RoomRate/diffDays | number : 2}}  Book Now</a>
									</div>
									<div class="more-information">
                                    	<p>{{rooms.RoomDetails}}</p>
										<!-- <p>Non-refundableFull English breakfast &euro; 24.80 </p> -->
										

										<p>{{rooms.LongDesc}}.</p>
										<p><strong>Room Facilities:</strong> {{hotal.RoomFacility.Facilities}}</p>
                                        <p><strong>Room Size:</strong>  16 square metres</p>
									</div>
								</li>
								<!--//room-->				
							</ul>
							</article>
						</div>
					</section>
					<!--//things to do-->
					</div>
				</section>
						
				<!--//three-fourth content-->
			</div>
			
			<!--//main content-->
		</div>
		<!--sidebar-->
               <aside class="one-fourth right-sidebar">
                  <!--hotel details-->
                  <article class="widget">
                     <h1>Best Packages </h1>
                     <div class="inner-hot pack">
                        <div class="hovereffect">
                           <img ng-src="https://mgmpackageslive.azurewebsites.net/mgmpackageslive/Images/{{bestPackage.PackageCode}}.jpg" />
                           <div class="overlay">
                              <a href="#0">
                                 <h1>{{bestPackage.PackageName}}
                                    <span class="stars">
                                    <i class="material-icons">&#xE838;</i>
                                    <i class="material-icons">&#xE838;</i>
                                    <i class="material-icons">&#xE838;</i>
                                    </span>
                                 </h1>
                              </a>
                              <span class="address">Marylebone, London</span>
                              <span class="rating" style="top: auto;"> 8 /10</span>
                              <p><span class="address">7 Nights / Dec 2016</span>
                                 <a href="flight_and_hotels.html" class="from-book">From &euro; 55 </a>
                              </p>
                           </div>
                        </div>
                     </div>
                  </article>
                  <!--//hotel details-->
                  <!--Need Help Booking?-->
                  <article class="widget">
                     <h4>Need Help Booking?</h4>
                     <p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your holiday needs.</p>
                     <p class="number">(+44) 845 468 0164</p>
                  </article>
                  <!--//Need Help Booking?-->
                  <!--Why Book with us?-->
                  <article class="widget end-aside">
                     <h4>Why Book with us?</h4>
                     <h5>Upto 20% discount</h5>
                     <p>It is arduous to grab the best deals in right time! We always have the right time for you.</p>
                     <h5>24/7 Customer Support</h5>
                     <p>We are pleased to help you all day, all night! We are with you!- 24/7 customer service.</p>
                     <h5>Pay the price +low</h5>
                     <p>Better deals at Super exciting prices guaranteed! Always pay what you can afford!</p>
                  </article>
                  <!--//Why Book with us?-->
               </aside>
               <!--//sidebar-->
				
	</main>
	<!--//main-->