        <!--header-->
      <header class="header">
         <div class="wrap">
            <!--logo-->
            <div class="logo"><a href="index.html" title=""><img src="/assets/images/txt/logo-white.png" alt="Book Your Travel" /></a></div>
            <!--//logo-->
            <!--ribbon-->
            <div class="header-nav-buts">
               <nav>
                  <a href="my_account.html" title="My Account">My Account</a>
                  <a href="#0" title="Login" id="btnlogin">Login</a>
                  <a href="my_account.html" title="Settings">Settings</a>
                  </ul>
               </nav>
            </div>
            <!--//ribbon-->
         </div>
      </header>
      <!--//header-->
      <!--slider-->
       <div class="slider">
         <ul id="hero-gallery" class="cS-hidden">
            <li data-thumb="/assets/images/banner-img/parellex-banner-3-bg.png">
               <img src="/assets/images/banner-img/parellex-banner-3-bg.png" alt="" />
            </li>
            <li data-thumb="/assets/images/uploads/slider2.jpg">
               <img src="/assets/images/uploads/slider2.jpg" alt="" />
            </li>
         </ul>
      </div>
      <!--//slider-->
      <!--search-->
      <div class="main-search">
         <div class="wrap">
            <ul class="index-form">
               <li data-tab="1" class="active-form-nav-indx"> <i class="glyph-icon flaticon-beach-umbrella-and-sun"></i> Packages</li>
               <li data-tab="2"><i class="glyph-icon flaticon-travel"></i> Flight + Hotel </li>
               <li data-tab="3"><i class="glyph-icon flaticon-departures"></i>Flight </li>
               <li data-tab="4"><i class="glyph-icon flaticon-modern-hotel"></i> Hotel </li>
            </ul>
            <div class="form-index active-form-indx" id="1">
               <form>
                  <!--form package-->
                  <div class="form-new row">
                     <!--column--><!-- <h5 class="hotels">  Packages </h5> -->
                     <div class="column one-third">
                        <!-- <h5><span>02</span> Where?</h5> -->
                        <div class="row">
                           <div class="f-item full-width">
                              <label for="destination6"> To </label>
                              <!-- <input type="text" placeholder="" id="destination6" name="destination" /> -->
                              <select class="state" id="destination6" name="destination" >
                                 <option value="">City, region, district or specific airport, Packages</option>
                                  <optgroup label="Portugal">
                                      <option value="FAO" selected=""> FAO - Faro</option>
                                     <option value="FNC">FNC - Funchal </option>
                                  </optgroup>
                                  <optgroup label="Spain">
                                      <option value="TFS">TFS - Tenerife South </option>
                                  </optgroup>
                                  <optgroup label="England">
                                      <option value="LON">LON - London </option>
                                  </optgroup>
                              </select>
                           </div>
                        </div>
                     </div>
                     <!--//column-->
                     <!--column-->
                     <div class="column one-third">
                        <!-- <h5><span>03</span> When?</h5> -->
                        <div class="row">
                           <div class="f-item full-width datepicker">
                              <div class="row">
                                 <div class="f-item one-half">
                                    <label for="datepicker9">Depart Date</label>
                                    <select>
                                       <option>Select time</option>
                                       <option>Lowest fare</option>
                                       <option>Morning</option>
                                       <option>Midday</option>
                                       <option>Afternoon</option>
                                       <option>Evening</option>
                                    </select>
                                 </div>
                                 <div class="f-item one-half">
                                    <label for="datepicker9">Nights</label>
                                    <select>
                                       <option>4 Nights</option>
                                       <option selected>7 Nights</option>
                                       <option>10 Nights</option>
                                       <option>14 Nights</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--//column-->
                     <!--column-->
                     <div class="column one-third">
                        <!-- <h5><span>04</span> Who?</h5> -->
                        <div class="row">
                           <div class="f-item one-third spinner">
                              <label for="spinner10">Adults</label>
                              <div class="overs">
                                 <p><span class="minus" id="minus1"> - </span>
                                    <input id="qty1" type="text" value="1" class="qty"/>
                                    <span class="add" id="add1"> + </span>
                                 </p>
                              </div>
                              <!-- <input type="text" placeholder="" id="spinner10" name="spinner10" /> -->
                           </div>
                           <div class="f-item one-third spinner">
                              <label for="spinner11">Children</label>
                              <div class="overs">
                                 <p><span class="minus" id="minus1"> - </span>
                                    <input id="qty1" type="text" value="1" class="qty"/>
                                    <span class="add" id="add1"> + </span>
                                 </p>
                              </div>
                              <!-- <input type="text" placeholder="" id="spinner11" name="spinner11" /> -->
                           </div>
                           <div class="f-item one-third spinner">
                              <label for="spinner12">Babies</label>
                              <div class="overs">
                                 <p><span class="minus" id="minus1"> - </span>
                                    <input id="qty1" type="text" value="1" class="qty"/>
                                    <span class="add" id="add1"> + </span>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--//column-->
                  </div>
                  <!--//form package-->
                  <input type="submit" value="Proceed to results" class="gradient-button search-submit" id="search-submit">
               </form>
            </div>
            <div class="form-index" id="2">
               <form>
                  <!--form flight+hotel-->
                  <div class="form-new row" id="form3">
                     <!--column-->
                     <!--column--><!-- <h5 class="hotels">  Flight And Hotel </h5> -->
                     <div class="column one-third">
                        <!-- <h5><span>02</span> Where?</h5> -->
                        <div class="row">
                           <div class="f-item full-width">
                              <label for="destination5"> From </label>
                              <input type="text" placeholder="City, region, district or specific airport" id="destination5" name="destination" />
                           </div>
                           <div class="f-item full-width">
                              <label for="destination6"> To </label>
                              <input type="text" placeholder="City, region, district or specific airport" id="destination6" name="destination" />
                           </div>
                        </div>
                     </div>
                     <!--//column-->
                     <!--column-->
                     <div class="column one-third">
                        <!-- <h5><span>03</span> When?</h5> -->
                        <div class="row">
                           <div class="f-item full-width datepicker">
                              <label for="datepicker9">Depart</label>
                              <div class="row">
                                 <div class="f-item one-half">
                                    <div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker9" name="datepicker9" /></div>
                                 </div>
                                 <div class="f-item one-half">
                                    <select>
                                       <option>Select time</option>
                                       <option>Lowest fare</option>
                                       <option>Morning</option>
                                       <option>Midday</option>
                                       <option>Afternoon</option>
                                       <option>Evening</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <div class="f-item full-width datepicker">
                              <label for="datepicker10">Return</label>
                              <div class="row">
                                 <div class="f-item one-half">
                                    <div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker10" name="datepicker10" /></div>
                                 </div>
                                 <div class="f-item one-half">
                                    <select>
                                       <option>Select time</option>
                                       <option>Lowest fare</option>
                                       <option>Morning</option>
                                       <option>Midday</option>
                                       <option>Afternoon</option>
                                       <option>Evening</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--//column-->
                     <!--column-->
                     <div class="column one-third">
                        <!-- <h5><span>04</span> Who?</h5> -->
                        <div class="row" style="min-height:0px;">
                           <div class="f-item one-third spinner">
                              <label for="spinner10">Adults</label>
                              <!-- <input type="text" placeholder="" id="spinner10" name="spinner10" /> -->
                              <div class="overs">
                                 <p><span class="minus" id="minus1"> - </span>
                                    <input id="qty1" type="text" value="1" class="qty"/>
                                    <span class="add" id="add1"> + </span>
                                 </p>
                              </div>
                           </div>
                           <div class="f-item one-third spinner">
                              <label for="spinner11">Children</label>
                              <!-- <input type="text" placeholder="" id="spinner11" name="spinner11" /> -->
                              <div class="overs">
                                 <p><span class="minus" id="minus1"> - </span>
                                    <input id="qty1" type="text" value="1" class="qty"/>
                                    <span class="add" id="add1"> + </span>
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="f-item full-width datepicker" style="margin: -21px 0px;">
                           <div class="row">
                              <div class="f-item one-third spinner">
                                 <label for="spinner12">Rooms</label>
                                 <!-- <input type="text" placeholder="" id="spinner12" name="spinner12" /> -->
                                 <div class="overs">
                                    <p><span class="minus" id="minus1"> - </span>
                                       <input id="qty1" type="text" value="1" class="qty"/>
                                       <span class="add" id="add1"> + </span>
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--//column-->
                  </div>
                  <!--//form flight+hotel-->
                  <input type="submit" value="Proceed to results" class="gradient-button search-submit" id="search-submit">
               </form>
            </div>
            <div class="form-index" id="3">
               <form name="frmHotalSearch" ng-submit="isValidForm() && flightSubmit()">
                  <!--form flight-->
                  <div class="form-new row">
                     <!--column--><!-- <h5 class="hotels">  Flight </h5> -->
                     <!--column-->
                     <div class="column one-third">
                        <!-- <h5><span>02</span> Where?</h5> -->
                        <div class="row">
                           <div class="f-item full-width">
                              <label for="destination3"> From</label>
                              <select id="destinationto" ng-model="flight.FlightFrom" required="required" class="form-control inputbox">
                                 <optgroup label="Portugal">
                                    <option value="FAO"> FAO - Faro</option>
                                    <option value="FNC">FNC - Funchal </option>
                                 </optgroup>
                                 <optgroup label="Spain">
                                    <option value="TFS">TFS - Tenerife South </option>
                                 </optgroup>
                                 <optgroup label="England">
                                    <option value="LON">LON - London </option>
                                 </optgroup>
                                 <optgroup label="Scotland">
                                    <option value="GLA">GLA - Glasgow</option>
                                 </optgroup>
                                 <optgroup label="Cuba">
                                    <option value="MUCC">MUCC - Jardines del Rey</option>
                                 </optgroup>
                              </select>
                              <!-- <input type="text"  id="destination3" name="destination"   /> -->
                           </div>
                           <div class="f-item full-width">
                              <label for="destination4"> To</label>
                              <select id="destinationto" ng-model="flight.FlightTo" required="required" class="form-control inputbox">
                                 <optgroup label="Portugal">
                                   <option selected="" value="FAO"> FAO - Faro</option>
                                  <option value="FNC">FNC - Funchal </option>
                                 </optgroup>
                                 <optgroup label="Spain">
                                   <option value="TFS">TFS - Tenerife South </option>
                                 </optgroup>
                                 <optgroup label="England">
                                   <option value="LON">LON - London </option>
                                 </optgroup>
                                 <optgroup label="Scotland">
                                    <option value="GLA">GLA - Glasgow</option>
                                 </optgroup>
                                 <optgroup label="Cuba">
                                    <option value="MUCC">MUCC - Jardines del Rey</option>
                                 </optgroup>
                              </select>
                              <!-- <input type="text" placeholder="City, region, district or specific airport" id="destination4" name="destination" ng-model="flight.FlightTo" required="required" /> -->
                           </div>
                        </div>
                     </div>
                     <!--//column-->
                     <!--column-->
                     <div class="column one-third">
                        <!-- <h5><span>03</span> When?</h5> -->
                        <div class="row">
                           <div class="f-item full-width datepicker">
                              <label for="datepicker6">Depart</label>
                              <div class="row">
                                 <div class="f-item one-half">
                                    <div class="datepicker-wrap">
                                          <input type="text" placeholder="" id="datepicker6" name="datepicker6" ng-model="flight.StartDate" />
                                          <div class="text-danger" ng-if="errors.StartDate">
                                             {{errors.StartDate}}
                                          </div>
                                    </div>
                                 </div>
                                 <div class="f-item one-half">
                                    <select >
                                       <option>Select time</option>
                                       <option>Lowest fare</option>
                                       <option>Morning</option>
                                       <option>Midday</option>
                                       <option>Afternoon</option>
                                       <option>Evening</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <div class="f-item full-width datepicker">
                              <label for="datepicker7">Return</label>
                              <div class="row">
                                 <div class="f-item one-half">
                                    <div class="datepicker-wrap">
                                       <input type="text" placeholder="" id="datepicker7" name="datepicker7" ng-model="flight.ReturnDate" />
                                       <div class="text-danger" ng-if="errors.ReturnDate">
                                          {{errors.ReturnDate}}
                                       </div>
                                    </div>
                                 </div>
                                 <div class="f-item one-half">
                                    <select>
                                       <option>Select time</option>
                                       <option>Lowest fare</option>
                                       <option>Morning</option>
                                       <option>Midday</option>
                                       <option>Afternoon</option>
                                       <option>Evening</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--//column-->
                     <!--column-->
                     <div class="column one-third">
                        <!-- <h5><span>04</span> Who?</h5> -->
                        <div class="row">
                           <div class="f-item one-third spinner">
                              <label for="spinner6">Adults</label>
                              <div class="overs">
                                 <p><span class="minus" ng-click="(flight.Adults > 0)?flight.Adults = flight.Adults - 1:flight.Adults = 0"> - </span>
                                    <input id="qty1" type="number" readonly="readonly" class="qty" ng-model="flight.Adults" required="required"/>
                                    <span class="add" ng-click="flight.Adults = flight.Adults + 1"> + </span>
                                 </p>
                              </div>
                           </div>
                           <div class="f-item one-third spinner">
                              <label for="spinner7">Children</label>
                              <!-- <input type="text" placeholder="" id="spinner7" name="spinner7" /> -->
                              <div class="overs">
                                 <p><span class="minus" ng-click="(flight.Children > 0)?flight.Children = flight.Children - 1:flight.Children = 0"> - </span>

                                    <input id="qty1" type="number" value="1" readonly="readonly" class="qty" ng-model="flight.Children" required="required"/>
                                    <span class="add" ng-click="flight.Children = flight.Children + 1"> + </span>
                                 </p>
                              </div>
                           </div>
                           <div class="f-item one-third spinner">
                              <label for="spinner8">Babies</label>
                              <!-- <input type="text" placeholder="" id="spinner8" name="spinner8" /> -->
                              <div class="overs">
                                 <p><span class="minus" ng-click="(flight.Infants > 0)?flight.Infants = flight.Infants - 1:flight.Infants = 0"> - </span>
                                    <input id="qty1" type="number" value="1" readonly="readonly" class="qty" ng-model="flight.Infants" required="required"/>
                                    <span class="add" ng-click="flight.Infants = flight.Infants + 1"> + </span>
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="text-danger" ng-if="errors.Adults">
                           {{errors.Adults}}
                        </div>
                     </div>
                     <!--//column-->
                  </div>
                  <!--//form flight-->
                  <input type="submit" value="Proceed to results" class="gradient-button">
               </form>
            </div>
            <div class="form-index" id="4">
               <form ng-submit="hotalSubmit()">
                  <!--form hotel-->
                  <div class="form-new row">
                     <!--column--><!-- <h5 class="hotels"> Hotel </h5> -->
                     <!--column-->
                     <div class="column one-third">
                        <!-- <h5><span>02</span> Where?</h5> -->
                        <div class="row">
                           <div class="f-item full-width">
                              <label for="destination1">Your destination</label>
                              <select  ng-model="hotal.Location" required="required" class="form-control inputbox">
                                 <optgroup label="Portugal">
                                    <option value="FAO"> FAO - Faro</option>
                                    <option value="FNC">FNC - Funchal </option>
                                 </optgroup>
                                 <optgroup label="Spain">
                                    <option value="TFS">TFS - Tenerife South </option>
                                 </optgroup>
                                 <optgroup label="England">
                                    <option value="LON">LON - London </option>
                                 </optgroup>
                                 <optgroup label="Scotland">
                                    <option value="GLA">GLA - Glasgow</option>
                                 </optgroup>
                                 <optgroup label="Cuba">
                                    <option value="MUCC">MUCC - Jardines del Rey</option>
                                 </optgroup>
                              </select>
                           </div>
                        </div>
                     </div>
                     <!--//column-->
                     <!--column-->
                     <div class="column  one-third">
                        <!-- <h5><span>03</span> When?</h5> -->
                        <div class="row">
                           <div class="f-item one-half datepicker">
                              <label for="datepicker1">Check-in</label>
                              <div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker1" name="datepicker1" ng-model="hotal.sFrom" required="required" /></div>
                           </div>
                           <div class="f-item one-half datepicker">
                              <label for="datepicker2">Check-out</label>
                              <div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker2" name="datepicker2" ng-model="hotal.sTo"  required="required"/></div>
                           </div>
                        </div>
                     </div>
                     <!--//column-->
                     <!--column-->
                     <div class="column one-third">
                        <!-- <h5><span>04</span> Who?</h5> -->
                        <div class="row">
                           <div class="f-item one-third spinner">
                              <label for="spinner1">Rooms</label>
                              <!-- <input type="text" placeholder="" id="spinner1" name="spinner1" /> -->
                              <div class="overs">
                                 <p><span class="minus" id="minus1"> - </span>
                                    <input id="qty1" type="text" value="1"  class="qty"/>
                                    <span class="add" > + </span>
                                 </p>
                              </div>
                           </div>
                           <div class="f-item one-third spinner">
                              <label for="spinner2">Adults</label>
                              <!-- <input type="text" placeholder="" id="spinner2" name="spinner1" /> -->
                              <div class="overs">
                                 <p><span class="minus" ng-click="(hotal.NoOfAdults > 0)?hotal.NoOfAdults = hotal.NoOfAdults - 1:hotal.NoOfAdults = 0"> - </span>
                                    <input id="qty1" readonly="readonly" ng-model="hotal.NoOfAdults" type="number" de class="qty" required="required" />
                                    <span class="add" ng-click="hotal.NoOfAdults = hotal.NoOfAdults + 1"> + </span>
                                 </p>
                              </div>
                           </div>
                           <div class="f-item one-third spinner">
                              <label for="spinner3">Children</label>
                              <!-- <input type="text" placeholder="" id="spinner3" name="spinner1" /> -->
                              <div class="overs">
                                 <p><span class="minus" ng-click="(hotal.NoOfChildren > 0)?hotal.NoOfChildren = hotal.NoOfChildren - 1:hotal.NoOfChildren = 0"> - </span>
                                    <input id="qty1" readonly="readonly" ng-model="hotal.NoOfChildren" type="number" class="qty" required="required"/>
                                    <span class="add" ng-click="hotal.NoOfChildren = hotal.NoOfChildren + 1"> + </span>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--//column-->
                  </div>
                  <!--//form hotel-->
                  <input type="submit" value="Proceed to results" class="gradient-button search-submit" id="search-submit">
               </form>
            </div>
            <div class="wrap must-cont-banner">
               <div class="row">
                  <div class="full-width dommybsn">
                     <div class="one-third must-con-sing">
                        <h2 class="must_cont_title" style="background-image: url('assets/images/banner-img/discound-bage.png');">Upto 20% discount</h2>
                        <p>It is arduous to grab the best deals in right time! We always have the right time for you.</p>
                     </div>
                     <div class="one-third must-con-sing">
                        <h2 class="must_cont_title" style="background-image: url('assets/images/banner-img/hear-phone.png');">24/7 Customer Support</h2>
                        <p>We are pleased to help you all day, all night! We are with you!- 24/7 customer service.</p>
                     </div>
                     <div class="one-third must-con-sing">
                        <h2 class="must_cont_title" style="background-image: url('assets/images/banner-img/bigy-bank.png');">Pay the price +low</h2>
                        <p>Better deals at Super exciting prices guaranteed! Always pay what you can afford!</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--//search-->
      <!--main-->
      <main class="main">
         <section class="parlex-one">
            <div class="wrap">
               <div class="row">
                  <div class="full-width">
                     <!--latest offers-->
                     <header class="s-title">
                        <h2>Explore our latest offers</h2>
                     </header>
                     <div class="offers">
                        <div class="row">
                           <!--deal-->
                           <article class="one-fourth" ng-repeat="l in data | limitTo : limit : begin track by $index">
                              <figure><a href="hotel.html" title=""><img src="https://mgmpackageslive.azurewebsites.net/mgmpackageslive/{{l.PictureFileName}}" alt="{{l.PackageName}}" /></a></figure>
                              <div class="details">
                                 <h3 title="{{l.PackageName}}">{{l.PackageName  | limitTo:20}}...
                                    <span class="stars">
                                    <i class="material-icons">&#xE838;</i>
                                    <i class="material-icons">&#xE838;</i>
                                    <i class="material-icons">&#xE838;</i>
                                    <i class="material-icons">&#xE838;</i>
                                    </span>
                                 </h3>
                                 <span class="address">London  •  <a href="#">Show on map</a></span>
                                 <span class="rating"> 8 /10</span>
                                 <span class="price">Price per person from  <em>$ {{l.Price_Person_Day}}</em> </span>
                                 <div class="description">
                                    <p>{{l.PackageDescription}} <a ng-href="#package-details/FAO/{{l.PackageCode}}">More info</a></p>
                                 </div>
                                 <a ng-href="#package-details/FAO/{{l.PackageCode}}" title="Book now" class="gradient-button">Book now</a>
                              </div>
                           </article>
                           <!--//deal-->
                           <article class="text-centre but-section" ng-if="data.length>4">

                              <a ng-show="packagebtn" ng-click="ViewAllPackages();" title="More info" class="gradient-button">View All Packages</a>
                              <a ng-hide="packagebtn" ng-click="PaginatePackages('prev');" title="Previous" class="gradient-button"><<</a>
                              <a ng-hide="packagebtn" ng-click="PaginatePackages('next');" title="More info" class="gradient-button">>></a>
                           </article>
                        </div>
                     </div>
                     <!--//latest offers-->
                  </div>
               </div>
            </div>
         </section>
         <section class="why-section">
            <div class="wrap">
               <div class="row">
                  <div class="why-index-heading">
                     <h2>WHY BOOK WITH US?</h2>
                     <p>Our passion for travel and our standards set our goals high and values true</p>
                  </div>
                  <div class="why-list">
                     <div class="one-fourth">
                        <i class="hovicon effect-1 sub-a"><img src="/assets/images/sunbed.png" /></i>
                        <p class="icon-p">Treat Yourself</p>
                     </div>
                     <div class="one-fourth">
                        <i class="hovicon effect-1 sub-a"><img src="/assets/images/doorknob.png" /></i>
                        <p class="icon-p">Unique Benefits</p>
                     </div>
                     <div class="one-fourth">
                        <i class="hovicon effect-1 sub-a"><img src="/assets/images/brd.png" /></i>
                        <p class="icon-p">Flexible bookings</p>
                     </div>
                     <div class="one-fourth">
                        <i class="hovicon effect-1 sub-a"><img src="/assets/images/suitcase.png" /></i>
                        <p class="icon-p">Less is more</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="offers_section">
            <div class="wrap">
               <div class="offers-heading">
                  <h2>The best deals we have to offer you!</h2>
                  <p>Get ready for an eye opening vacation at best prices and enjoy with your loved ones</p>
               </div>
               <!--info boxes-->
               <div class="boxes">
                  <div class="row">
                     <!--column-->
                     <div class="one-half">
                        <div class="hovereffect">
                           <img class="img-responsive" src="/assets/images/offers/offer-img-1.png" alt="">
                           <div class="overlay">
                              <h2>Island Hot Deals</h2>
                              <p>vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet <br /><a href="flight_and_hotels.html">Link Here</a></p>
                           </div>
                        </div>
                     </div>
                     <!--//column-->
                     <!--column-->
                     <div class="one-half">
                        <div class="hovereffect">
                           <img class="img-responsive" src="/assets/images/offers/offer-img-2.png" alt="">
                           <div class="overlay">
                              <h2>Spanish Luxury</h2>
                              <p>vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet <br /><a href="flight_and_hotels.html">Link Here</a></p>
                           </div>
                        </div>
                     </div>
                     <!--//column-->
                     <!--column-->
                     <div class="one-half">
                        <div class="hovereffect">
                           <img class="img-responsive" src="/assets/images/offers/offer-img-3.png" alt="">
                           <div class="overlay">
                              <h2>Island Luxury</h2>
                              <p>vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet <br /><a href="flight_and_hotels.html">Link Here</a></p>
                           </div>
                        </div>
                     </div>
                     <!--//column-->
                     <!--column-->
                     <div class="one-half">
                        <div class="hovereffect">
                           <img class="img-responsive" src="assets/images/offers/offer-img-4.png" alt="">
                           <div class="overlay">
                              <h2>Portugal Beaches</h2>
                              <p>vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet <br /><a href="flight_and_hotels.html">Link Here</a></p>
                           </div>
                        </div>
                     </div>
                     <!--//column-->
                  </div>
               </div>
               <!--//info boxes-->
            </div>
            </div>
            </div>
         </section>
      </main>
      <!--//main-->
   <script type="text/javascript">
       $(document).on('ready', function() {
              $(".regular").slick({
                dots: true,
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 3,
            autoplay: true,
                autoplaySpeed: 1500,
            arrows: false,
            dots: false,
            responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                infinite: true,
                dots: false
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
          ]
              });
           });
            (function( $ ) {
                $(document).ready(function(){
                    $('.form').hide();
                    $('#form4').show();
                    $('.f-item:nth-child(1)').addClass('active');
                    $('.f-item:nth-child(1) span').addClass('checked');

                    $('#hero-gallery').lightSlider({
                        gallery:true,
                        item:1,
                        pager:false,
                        gallery:false,
                        slideMargin: 0,
                        speed:2000,
                        pause:6000,
                        mode: 'fade',
                        auto:true,
                        loop:true,
                        onSliderLoad: function() {
                            $('#hero-gallery').removeClass('cS-hidden');
                        }
                    });
                });
            })(jQuery);
   </script>