   
<style type="text/css">
.badge {
    background-color: #777777;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.cheapest {
   width: 100px;
   height: 25px;
   background: red;
   position: absolute;
   top: 0;
   right: 0;
   color: #ffffff;
   text-transform: uppercase;
   font-weight: bold;
   padding-top: 3px;
}
.header-order{
   float: left;
   margin-right: 10px;
   margin-bottom: 5px;
}
</style>
   <!--header-->
   <header class="header inside-header">
      <div class="wrap">
         <!--logo-->
         <div class="logo inside-logo"><a href="index.html" title=""><img src="assets/images/txt/logo.png" alt="Book Your Travel" /></a></div>
         <!--//logo-->
         
         <!--ribbon-->
         <div class="header-nav-buts inside_top-nav">
            <nav>
               <a href="my_account.html" title="My Account">My Account</a>
               <a href="#0" title="Login" id="btnlogin">Login</a>
               <a href="my_account.html" title="Settings">Settings</a>
               </ul>
            </nav>
         </div>
         <!--//ribbon-->
      </div>
   </header>
   <!--//header-->
 <!--main-->
      <main class="main">
         <div class="wrap">
            <!--breadcrumbs-->
            <nav class="breadcrumbs">
               <!--crumbs-->
               <ul>
                  <li>Search results</li>
               </ul>
               <!--//crumbs-->
               <!--top right navigation-->
               <ul class="top-right-nav">
                  <li class="header-order">
                     <span>Order by Fare</span>
                     <select ng-change="toggleFairOrder(fairOrder)" ng-model="fairOrder" id="fairOrder">
                        <option value="">Select</option>
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                     </select>
                  </li>
                  <li class="header-order">
                     <span>Order by Duration</span>
                     <select ng-change="toggleDurationOrder(durationOrder)" ng-model="durationOrder" id="durationOrder">
                        <option value="">Select</option>
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                     </select>
                  </li>
                  <li><a ng-click="goToResult()" href="javascript:void(0);" title="Back to results">Back to results</a></li>
                  <li><a ng-click="changeSearch()" href="javascript:void(0);" title="Change search">Change search</a></li>
               </ul>
               <!--//top right navigation-->
            </nav>
            <!--//breadcrumbs-->
            <!-- progress step -->
            <div class="process-steps">
               <ul class="book-step-intigator">
                  <li style="{{twotab}}" class="active-intigator">
                     <a href="search_results_flights.html"><b><i class="fa fa-plane" aria-hidden="true"></i></b></a>
                     <p>Book Your Flight</p>
                  </li>
                  <li ng-if="isHotelFlight">
                     <a href="search_results-hotel.html"><b><i class="fa fa-bed" aria-hidden="true"></i></b></a>
                     <p>Choose Your Hotel</p>
                  </li>
                  <li style="{{twotab1}}">
                     <a href="add_extras.html"><b><i class="fa fa-bus" aria-hidden="true"></i></b></a>
                     <p>Choose Youe Extras</p>
                  </li>
                  <li>
                     <a href="booking-step1.html"><b><i class="fa fa-ticket" aria-hidden="true"></i></b></a>
                     <p>Complete Your Booking</p>
                  </li>
               </ul>
            </div>
               <form style="height: 250px;display: none;" name="frmHotalSearch" id="frmHotalSearch" ng-submit="isValidFlight() && flightSubmit()">
                  <!--form flight-->
                  <div class="form-new row">
                     <!--column--><!-- <h5 class="hotels">  Flight </h5> -->
                     <!--column-->
                     <div class="column one-third">
                        <!-- <h5><span>02</span> Where?</h5> -->
                        <div class="row">
                           <div class="f-item full-width">
                              <label for="destination3"> From</label>
                              <select id="destinationto" ng-model="flight.FlightFrom" required="required" class="form-control inputbox">
                                 <optgroup label="Portugal">
                                    <option value="FAO"> FAO - Faro</option>
                                    <option value="FNC">FNC - Funchal </option>
                                 </optgroup>
                                 <optgroup label="Spain">
                                    <option value="TFS">TFS - Tenerife South </option>
                                 </optgroup>
                                 <optgroup label="England">
                                    <option value="LON">LON - London </option>
                                 </optgroup>
                                 <optgroup label="Scotland">
                                    <option value="GLA">GLA - Glasgow</option>
                                 </optgroup>
                                 <optgroup label="Cuba">
                                    <option value="MUCC">MUCC - Jardines del Rey</option>
                                 </optgroup>
                              </select>
                              <!-- <input type="text"  id="destination3" name="destination"   /> -->
                           </div>
                           <div class="f-item full-width">
                              <label for="destination4"> To</label>
                              <select id="destinationto" ng-model="flight.FlightTo" required="required" class="form-control inputbox">
                                 <optgroup label="Portugal">
                                   <option selected="" value="FAO"> FAO - Faro</option>
                                  <option value="FNC">FNC - Funchal </option>
                                 </optgroup>
                                 <optgroup label="Spain">
                                   <option value="TFS">TFS - Tenerife South </option>
                                 </optgroup>
                                 <optgroup label="England">
                                   <option value="LON">LON - London </option>
                                 </optgroup>
                                 <optgroup label="Scotland">
                                    <option value="GLA">GLA - Glasgow</option>
                                 </optgroup>
                                 <optgroup label="Cuba">
                                    <option value="MUCC">MUCC - Jardines del Rey</option>
                                 </optgroup>
                              </select>
                              <!-- <input type="text" placeholder="City, region, district or specific airport" id="destination4" name="destination" ng-model="flight.FlightTo" required="required" /> -->
                           </div>
                        </div>
                     </div>
                     <!--//column-->
                     <!--column-->
                     <div class="column one-third">
                        <!-- <h5><span>03</span> When?</h5> -->
                        <div class="row">
                           <div class="f-item full-width datepicker">
                              <label for="datepicker11">Depart</label>
                              <div class="row">
                                 <div class="f-item one-half">
                                    <div class="datepicker-wrap">
                                          <input type="text" placeholder="" id="datepicker11" name="datepicker11" ng-model="flight.StartDate" />
                                          <div class="text-danger" ng-if="errors.F_StartDate">
                                             {{errors.F_StartDate}}
                                          </div>
                                    </div>
                                 </div>
                                 <div class="f-item one-half">
                                    <select >
                                       <option>Select time</option>
                                       <option>Lowest fare</option>
                                       <option>Morning</option>
                                       <option>Midday</option>
                                       <option>Afternoon</option>
                                       <option>Evening</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <div class="f-item full-width datepicker">
                              <label for="datepicker7">Return</label>
                              <div class="row">
                                 <div class="f-item one-half">
                                    <div class="datepicker-wrap">
                                       <input type="text" placeholder="" id="datepicker7" name="datepicker7" ng-model="flight.ReturnDate" />
                                       <div class="text-danger" ng-if="errors.F_ReturnDate">
                                          {{errors.F_ReturnDate}}
                                       </div>
                                    </div>
                                 </div>
                                 <div class="f-item one-half">
                                    <select>
                                       <option>Select time</option>
                                       <option>Lowest fare</option>
                                       <option>Morning</option>
                                       <option>Midday</option>
                                       <option>Afternoon</option>
                                       <option>Evening</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--//column-->
                     <!--column-->
                     <div class="column one-third">
                        <!-- <h5><span>04</span> Who?</h5> -->
                        <div class="row">
                           <div class="f-item one-third spinner">
                              <label for="spinner6">Adults</label>
                              <div class="overs">
                                 <p><span class="minus" ng-click="(flight.Adults > 0)?flight.Adults = flight.Adults - 1:flight.Adults = 0"> - </span>
                                    <input id="qty1" type="number" readonly="readonly" class="qty" ng-model="flight.Adults" required="required"/>
                                    <span class="add" ng-click="flight.Adults = flight.Adults + 1"> + </span>
                                 </p>
                              </div>
                           </div>
                           <div class="f-item one-third spinner">
                              <label for="spinner7">Children</label>
                              <!-- <input type="text" placeholder="" id="spinner7" name="spinner7" /> -->
                              <div class="overs">
                                 <p><span class="minus" ng-click="(flight.Children > 0)?flight.Children = flight.Children - 1:flight.Children = 0"> - </span>

                                    <input id="qty1" type="number" value="1" readonly="readonly" class="qty" ng-model="flight.Children" required="required"/>
                                    <span class="add" ng-click="flight.Children = flight.Children + 1"> + </span>
                                 </p>
                              </div>
                           </div>
                           <div class="f-item one-third spinner">
                              <label for="spinner8">Babies</label>
                              <!-- <input type="text" placeholder="" id="spinner8" name="spinner8" /> -->
                              <div class="overs">
                                 <p><span class="minus" ng-click="(flight.Infants > 0)?flight.Infants = flight.Infants - 1:flight.Infants = 0"> - </span>
                                    <input id="qty1" type="number" value="1" readonly="readonly" class="qty" ng-model="flight.Infants" required="required"/>
                                    <span class="add" ng-click="flight.Infants = flight.Infants + 1"> + </span>
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="text-danger" ng-if="errors.F_Adults">
                           {{errors.F_Adults}}
                        </div>
                     </div>
                     <!--//column-->
                  </div>
                  <!--//form flight-->
                  <input type="submit" value="Proceed to results" class="gradient-button">
               </form>
            <!-- progress step end -->
            <div class="row">
               <!--sidebar-->
               <aside class="one-fourth left-sidebar">
                  <article class="widget refine-search-results">
                     <h4>Refine search results</h4>
                     <dl>
                        <!--Departure times-->
                        <dt>Departure times</dt>
                        <dd>
                           <div class="checkbox" ng-repeat="departureTime in departureTimes">
                              <input type="checkbox" checklist-model="search.departureTimes" checklist-value="departureTime.key" id="ch1" name="departure" ng-click="filter()" />
                              <label for="ch1">{{departureTime.value}}</label>
                           </div>
                        </dd>
                        <!--//Departure times-->
                        <!--Stops-->
                        <dt>Stops</dt>
                        <dd>
                           <div class="checkbox" ng-repeat="stop in noOfStops">
                              <input type="checkbox" checklist-model="search.stops" checklist-value="stop" id="ch6" name="stop" ng-click="filter()" />
                              <label for="ch6">{{stops[stop]}}</label>
                           </div>
                        </dd>
                        <!--//Stops-->
                        <!--Airlines-->
                        <dt>
                           Airlines
                        </dt>
                        <dd>
                           <div class="checkbox" ng-repeat="airline in airlines">
                              <input type="checkbox" checklist-model="search.airlines" checklist-value="airline" id="ch32" name="airlines" ng-click="filter()" />
                              <label for="ch32">{{airlineses[airline][0].AirlineName}}</label>
                              <div style="/*margin-right:25px*/" class="pull-right badge">{{airlineses[airline][0].minFare}}</div>
                           </div>
                        </dd>
                        <!--//Airlines-->
                        <!--Alliances-->
                        <dt>
                           Alliances
                        </dt>
                        <dd>
                           <div class="checkbox" ng-repeat="airport in airports">
                              <input type="checkbox" id="ch38" checklist-model="search.alliances" checklist-value="airport" name="alliances" ng-click="filter()" />
                              <label for="ch38">{{alliances[airport][0].LocationName}}</label>
                              <div style="/*margin-right:25px/*" class="pull-right badge">{{alliances[airport][0].minFare}}</div>
                           </div>
                        </dd>
                        <!--//Alliances-->
                        <!--Price range-->
                        <dt>Price range</dt>
                        <dd>
                           <div class="checkbox" ng-repeat="pr in price">
                              <input type="checkbox" checklist-model="search.priceRange" checklist-value="pr" id="ch21" name="price" ng-click="filter()" />
                              <label for="ch21">{{priceRange[pr]}}</label>
                           </div>
                        </dd>
                        <!--//Price range-->
                        <!--Class-->
                        <dt>Class</dt>
                        <dd>
                           <div class="checkbox" ng-repeat="cls in class">
                              <input type="checkbox" checklist-model="search.class" checklist-value="cls" id="ch26" name="class" />
                              <label for="ch26">{{cls}}</label>
                           </div>
                        </dd>
                        <!--//Class-->
                     </dl>
                  </article>
               </aside>
               <!--//sidebar-->
               <!--three-fourth content-->
               <div class="one-half">
                  <div class="deals flights row results">
                     <!-- <div ng-if="showList">
                        <ul class="top-right-nav">
                           <li class="header-order">
                              <select ng-change="toggleFairOrder(fairOrder)" ng-model="fairOrder" id="fairOrder">
                                 <option value="">Order by Fair</option>
                                 <option value="asc">Ascending</option>
                                 <option value="desc">Descending</option>
                              </select>
                           </li>
                           <li class="header-order">
                              <select ng-change="toggleDurationOrder(durationOrder)" ng-model="durationOrder" id="durationOrder">
                                 <option value="">Order by Duration</option>
                                 <option value="asc">Ascending</option>
                                 <option value="desc">Descending</option>
                              </select>
                           </li>
                        </ul>
                        <div class="header-order">   
                           <select ng-change="toggleFairOrder(fairOrder)" ng-model="fairOrder" id="fairOrder">
                              <option value="">Order by Fair</option>
                              <option value="asc">Ascending</option>
                              <option value="desc">Descending</option>
                           </select>
                        </div>
                        <div class="header-order">
                           <select ng-change="toggleDurationOrder(durationOrder)" ng-model="durationOrder" id="durationOrder">
                              <option value="">Order by Duration</option>
                              <option value="asc">Ascending</option>
                              <option value="desc">Descending</option>
                           </select>
                        </div>
                     </div> -->
                     <!--deal-->
                     <article class="full-width slice">
                        <!-- single flight load -->
                        <div class="ball" ng-show="loading"></div>
                        <!-- <div ng-if="showList"> -->
                        <div ng-if="notFound">
                           No record found.
                        </div>
                        <div class="lazy loaded" id="box-1" ng-if="showList" ng-repeat="flight in flightList">
                           <div class="details new-design" ng-style="((fairOrder=='asc' && $first) || (fairOrder=='desc' && $last)) && {'border-color':'red'}">
                              <div class="cheapest" ng-if="(fairOrder=='asc' && $first) || (fairOrder=='desc' && $last)"> cheapest </div>
                              <div class="depart-wrap"> 
                                 <!--  -->

                                 <h3 style="width:350px;background-image: url('https://mgmpackageslive.azurewebsites.net/mgmpackageslive/Images/OA/{{flight.OACode}}.png')">{{airlineses[flight.ValidatingAirlineCode][0].AirlineName}} - <span> {{flight.DepartDatetime | date : 'EEEE,d MMMM'}} </span> </h3> 
                                 <div class="table-flight first frid"> 
                                    <div class="f-wrap design"> 
                                       <div class="flight-info">
                                          <strong>{{alliances[flight.DepartAirportLocationCode][0].LocationName}}</strong><br/> {{flight.DepartDatetime | date : 'HH:mm'}} 
                                       </div>
                                    </div>
                                    <div class="f-wrap design"> 
                                       <div class="flight-info">
                                          <strong>{{alliances[flight.ArrivalAirportLocationCode][0].LocationName}}</strong><br/>  {{flight.ArrivalDatetime | date : 'HH:mm EEEE,d MMMM'}}
                                       </div>
                                    </div>
                                 </div>
                                 <h3 style="width:350px;background-image: url('https://mgmpackageslive.azurewebsites.net/mgmpackageslive/Images/OA/{{flight.OACode_RET}}.png')">{{airlineses[flight.ValidatingAirlineCode][0].AirlineName}} - <span> {{flight.DepartDatetime_RET | date : 'EEEE,d MMMM'}} </span> </h3> 
                                 <div class="table-flight"> 
                                    <div class="f-wrap design"> 
                                       <div class="flight-info">
                                          <strong>{{alliances[flight.DepartAirportLocationCode_RET][0].LocationName}}</strong><br/> {{flight.DepartDatetime_RET | date : 'HH:mm'}}  
                                       </div>
                                    </div>
                                    <div class="f-wrap design"> 
                                       <div class="flight-info">
                                          <strong>{{alliances[flight.ArrivalAirportLocationCode_RET][0].LocationName}}</strong><br/>{{flight.ArrivalDatetime_RET | date : 'HH:mm EEEE,d MMMM'}}
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="depart-button"> 
                                 <div class="arive-stop"> 
                                    <p><strong>{{flight.JourneyDuration/60 | number : 0}}h {{flight.JourneyDuration%60}} / {{flight.NumberofStops}} Stop</strong><br/>EY 12 / 9W 589</p>
                                 </div>
                                 <a ng-click="goToExtra($index)" href="javascript:void(0);" title="Book now" class="gradient-button book"> &euro; {{flight.TotalFareAmount}}</a> 
                                 <div class="return-stop"> 
                                    <p><strong>{{flight.JourneyDuration_RET/60 | number : 0}}h {{flight.JourneyDuration_RET%60}} / {{flight.NumberofStops_RET}} Stop</strong><br/>EY 12 / 9W 589</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- single flight load -->
                     </article>
                     <!--//deal-->
                     
                  </div>
               </div>
               <!--//three-fourth content-->
               <!--  <article class="widget"> -->
               <!-- </article> -->
               <!--sidebar-->
               <aside class="one-fourth right-sidebar">
                  <!--hotel details-->
                  <article class="hotel-details">
                     <div>
                        <img ng-src="https://mgmpackageslive.azurewebsites.net/mgmpackageslive/{{bestHotel.HotelImage}}">
                     </div>
                     <h1>{{bestHotel.hotelName}}
                        <span class="stars">
                           <i ng-if="bestHotel.StarRating>0" class="material-icons">&#xE838;</i>
                           <i ng-if="bestHotel.StarRating>1" class="material-icons">&#xE838;</i>
                           <i ng-if="bestHotel.StarRating>2" class="material-icons">&#xE838;</i>
                           <i ng-if="bestHotel.StarRating>3" class="material-icons">&#xE838;</i>
                           <i ng-if="bestHotel.StarRating>4" class="material-icons">&#xE838;</i>
                        </span>
                     </h1>
                     <span class="address">Marylebone, London</span>
                     <span class="rating"> 8 /10</span>
                     <div class="description">
                        <p>{{bestHotel.LongDesc}}</p>
                     </div>
                  </article>
                  <!--//hotel details-->
                  <!--hotel details-->
                  <article class="hotel-details scrap-but-sec">
                     <a href="#0" class="scrap-but">save to scrapbook</a>
                     <a href="#0" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                     <a href="#0" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                     <a href="#0" class="social"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                     <p>Share with friends</p>
                  </article>
                  <!--//hotel details-->
                  <!--Need Help Booking?-->
                  <article class="widget">
                     <h1>Best Packages </h1>
                     <!-- <div>
                        <img ng-src="https://mgmpackageslive.azurewebsites.net/mgmpackageslive/Images/{{bestPackageCode[0]}}.jpg" />
                        <img ng-src="https://mgmpackageslive.azurewebsites.net/mgmpackageslive/Images/{{bestPackageCode[1]}}.jpg" />
                     </div> -->
                     
                     <div class="inner-hot pack">
                        <div class="hovereffect">
                           <img ng-src="https://mgmpackageslive.azurewebsites.net/mgmpackageslive/Images/{{bestPackage.PackageCode}}.jpg" />
                           <div class="overlay">
                              <a href="#0">
                                 <h1>{{bestPackage.PackageName}}
                                    <span class="stars">
                                    <i class="material-icons">&#xE838;</i>
                                    <i class="material-icons">&#xE838;</i>
                                    <i class="material-icons">&#xE838;</i>
                                    </span>
                                 </h1>
                              </a>
                              <span class="address">Marylebone, London</span>
                              <span class="rating" style="top: auto;"> 8 /10</span>
                              <p><span class="address">7 Nights / Dec 2016</span>
                                 <a href="flight_and_hotels.html" class="from-book">From &euro; 55 </a>
                              </p>
                           </div>
                        </div>
                     </div>
                     
                     <!-- <h4>Need Help Booking?</h4>
                        <p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your holiday needs.</p>
                        <p class="number">(+44) 845 468 0164</p> -->
                  </article>
                  <!-- </article> -->
               </aside>
               <!--//sidebar-->
            </div>
            <!--//main content-->
         </div>
      </main>
      <!--//main-->